.verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wheight-300{
    font-weight:300;
}

.wheight-600{
    font-weight:600;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blueviolet
}

.verde{
    color:green
}

.inter{
    font-family: "Inter", sans-serif;
    font-weight:800;
}